/* Home Page*/
body{
font-family: 'Gabarito', sans-serif;
}
header img{
    height: 50px;
    width: 60px;
}
.logo h1 {
    text-align: left;
}
.title{
    text-align: center;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.navbar a {
    float:left;
    display: block;
    color: white;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #dfa72f;
    color: black;
}
 #footer_text {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}
#footer_text h1{
    font-size: x-large;
    font-family: 'Lobster', cursive;
}
.product-divs {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.product-div {
    text-align: center;
}
.product-div img {
    width: 500px;
    height: 600px;
    border: 5px solid #dabc13;
}
.images {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.images img {
    width: 30%;
    border: 5px solid #dabc18;
}
h1 {
    font-size: 51px;
}

h2 {
    font-size: 46px;
}

p {
    font-size: 20px;
}
#section_1 {
    display: flex;
    background-color: #bbb34756;
}
.width_1 {
    width: 50%;
    padding-left: 5%;
}
.width_1 img {
    width: 50%;
    padding-left: 6%;
    margin-top: 5%;
}
.border_claass {
    border-left: solid 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-radius: 4px;
    width: 50%;
}
.golden_color {
    color: #d4ab25;
}
.text_color {
    color: #000000;
}
.link_button {
    text-decoration: none;
    background: linear-gradient(rgb(0, 0, 0), rgba(221, 224, 15, 0.699));
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}



/* Product Page*/
body h1{
    text-align: center;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 0px;
    padding: 10px;
}
.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.image-product-container { 
    justify-content: center;
    align-items: center;
    border: 1px solid #d6a51e;
    padding: 10px;
}
.image-product-container img {
    max-width: 285px;
    height: 350px;
}
.section-title {
    color: #120f1f;
    font-size: 44px;
    margin-top: 3px;
    text-align: center;
}
.all-product {
    margin-bottom: auto;
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
}
.product img {
    height: 180px;
    width: 300px;
}
.product-model {
    margin: 15px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}
.product {
    display: grid;
    align-items: center;
}


/* Contact Us */
.contact-form-tittle{
    text-align: center;
}
.contact-form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.display-input {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d8b82a;
    border-radius: 8px;
    text-align: center;
}
